.carousel{
  overflow: hidden;
}

.inner{
  white-space: nowrap;
  transition: transform 1s;
}

.carouselItem{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: white;
  height: 300px;
  background-color: orange;
}
.indicators{
  display: flex;
  justify-content: center;
}

.button{
  margin:5px
}

.active{
  background-color: green;
  color: white;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  margin: 5px;
}

.unActive{
  background-color: blue;
  color: white;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  margin: 5px;
}

.nextBtn{
  font-size: 40px;
  color: #3300cc;
}


.buttonPrev{
  position: absolute;
  top: 50%;
  left: 0
}

.buttonNext{
  position: absolute;
  top: 50%;
  right: 0
}